<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DreFinanças</title>
 <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../resources/registro.css">
     <!-- Datepicker -->
      <link href="../resources/bootstrap-datepicker.css" rel="stylesheet">

</head>
<body onLoad="populaPaises()">

  <nav class="navbar navbar-light bg-faded" id = "nav_bar">
    <a class="navbar-brand" href="./menu.html">DreFinanças</a>
  </nav>  
  <form class="form-horizontal register" method="post" >

  <!-- Form Name -->
  <legend>Registrar-se</legend>

  <!-- Text input-->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="textinput">Email</label>  
    <div class="col-md-8">
      <input id="usuario" name="usuario" type="text" placeholder="" class="form-control input-md">
    </div>
  </fieldset>

  <!-- Text input-->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="textinput">Nome</label>  
    <div class="col-md-8">
      <input id="txNome" name="txNome" type="text" placeholder="" class="form-control input-md">
      
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="textinput">Data de Nascimento</label>  
    <div class="col-md-8">
      <input type="text" id="txNasc" class="form-control">
    </div>
  </fieldset>
  

  <!-- Select Basic -->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">País</label>
    <div class="col-md-8">
      <select onchange= "populaEstados()" id="txPais" name="txPais" class="form-control">
      </select>
    </div>
  </fieldset>

  <!-- Select Basic -->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Estado</label>
    <div class="col-md-8">
      <select onchange = "populaCidades()" id="txEstado" name="txEstado" class="form-control">
      </select>
    </div>
  </fieldset>

  <!-- Select Basic -->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Cidade</label>
    <div class="col-md-8">
      <select id="txCidade" name="txCidade" class="form-control">
      </select>
    </div>
  </fieldset>

  <!-- Password input-->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="passwordinput">Senha</label>
    <div class="col-md-8">
      <input id="senha" name="senha" type="password" placeholder="" class="form-control input-md">
      
    </div>
  </fieldset>

  <!-- Password input-->
  <fieldset class="form-group">
    <label class="col-md-4 control-label" for="passwordinput">Confirmar Senha</label>
    <div class="col-md-8">
      <input id="txConfSenha" name="txConfSenha" type="password" placeholder="" class="form-control input-md">
      
    </div>
  </fieldset>

  <!-- Button (Double) -->
  <fieldset class="form-group" id = "buttons">
    <div class="col-md-12">
      <button id="button1id" type="button" onClick="registra()" name="button1id" class="btn btn-success">Registar</button>
      <button id="button2id" type="reset" onClick="cancela()" name="button2id" class="btn btn-danger">Cancelar</button>
    </div>
  </fieldset>


  </form>


  <!-- JavaScript: placed at the end of the document so the pages load faster -->
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Script responsavel pela tela de registro -->
  <script src="js/registro.js"></script>

  <!-- Datepicker -->
  <script src="js/bootstrap-datepicker.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('#txNasc').datepicker({
          format: "dd/mm/yyyy",
          language: "pt-BR"
      });
    });
  </script>
</body>
</html>